/* You can add global styles to this file, and also import other style files */
/*colors variable*/
:root {
    --red: #EA5455;
    --redLogo: #A7425C;
    --white: #F7F7FF;
    --sand: #F2D0A4;
    --blueGreen: #3F826D;
}

.container-main {
    height: 90vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height:38px;
    min-width: 180px;
}

.button-primary {
    border-radius: 5px;
    background-color: var(--red);
    border: 2px solid var(--red);
    color: var(--white);
}

.button-primary:hover {
    background-color: var(--redLogo);
    border: 2px solid var(--redLogo);
}

.button-secondary {
    border-radius: 5px;
    background-color: var(--white);
    border: 2px solid var(--red);
    color: var(--black);
}

.button-secondary:hover {
    background-color: var(--white);
    border: 2px solid var(--redLogo);
    color: var(--redLogo);
}
